.paper {
  padding: 20px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.eventText {
  width: 45%;
  height: auto;
}

.eventTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 1.3rem;
  width: 50%;
}

.eventDate {
  font-size: 1rem;
  font-weight: 500;
}

.button {
  height: 30px;
}
